infra/n8n/analytics_daily.json
{
  "name": "analytics_daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 6 * * *"
            }
          ]
        }
      },
      "id": "b1a0d6e0-0001-4f00-a000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const tz = 'Australia/Sydney';\nconst now = new Date();\n\nfunction getZonedYMD(date) {\n  const fmt = new Intl.DateTimeFormat('en-CA', {\n    timeZone: tz,\n    year: 'numeric', month: '2-digit', day: '2-digit'\n  });\n  const parts = fmt.formatToParts(date);\n  const obj = {};\n  for (const p of parts) { if (p.type !== 'literal') obj[p.type] = p.value; }\n  return `${obj.year}-${obj.month}-${obj.day}`;\n}\n\nfunction isoForSydneyMidnight(dateStr) {\n  // Figure out Sydney's UTC offset for that date (AEST +10 or AEDT +11)\n  const probe = new Date(`${dateStr}T12:00:00Z`);\n  const dtf = new Intl.DateTimeFormat('en-US', {\n    timeZone: tz,\n    timeZoneName: 'shortOffset'\n  });\n  const parts = dtf.formatToParts(probe);\n  const tzName = (parts.find(p => p.type === 'timeZoneName') || {}).value || 'GMT+10';\n  const m = tzName.match(/GMT([+-])(\\d{1,2})(?::?(\\d{2}))?/);\n  const sign = m ? m[1] : '+';\n  const hh = m ? String(parseInt(m[2], 10)).padStart(2, '0') : '10';\n  const mm = m && m[3] ? m[3] : '00';\n  return `${dateStr}T00:00:00${sign}${hh}:${mm}`;\n}\n\nconst todayStr = getZonedYMD(now);\nconst y = new Date(`${todayStr}T00:00:00Z`);\ny.setUTCDate(y.getUTCDate() - 1);\nconst yStr = `${y.getUTCFullYear()}-${String(y.getUTCMonth() + 1).padStart(2, '0')}-${String(y.getUTCDate()).padStart(2, '0')}`;\n\nconst startOfDay = isoForSydneyMidnight(yStr);\nconst endOfDay = isoForSydneyMidnight(todayStr);\n\nreturn [{ json: { startOfDay, endOfDay, dateString: yStr } }];\n"
      },
      "id": "b1a0d6e0-0002-4f00-a000-000000000002",
      "name": "Compute Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://guggzyqceattncjwvgyc.supabase.co/rest/v1/agent_logs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "created_at",
              "value": "=gte.{{ $json.startOfDay }}"
            },
            {
              "name": "created_at",
              "value": "=lt.{{ $json.endOfDay }}"
            },
            {
              "name": "select",
              "value": "id,agent_name,level,message,metadata,created_at"
            },
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]"
            },
            {
              "name": "Authorization",
              "value": "Bearer [HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "b1a0d6e0-0003-4f00-a000-000000000003",
      "name": "Read agent_logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const rawItems = $('Read agent_logs').all();\nconst logs = [];\nfor (const it of rawItems) {\n  const payload = it && it.json;\n  if (!payload) continue;\n  if (Array.isArray(payload)) {\n    for (const row of payload) if (row && typeof row === 'object') logs.push(row);\n  } else if (Array.isArray(payload.data)) {\n    for (const row of payload.data) if (row && typeof row === 'object') logs.push(row);\n  } else if (typeof payload === 'object') {\n    logs.push(payload);\n  }\n}\n\nconst dateString = $('Compute Date Range').first().json.dateString;\nconst nowIso = new Date().toISOString();\n\nif (logs.length === 0) {\n  return [{\n    json: {\n      agent_name: 'system',\n      date: dateString,\n      total_logs: 0,\n      error_count: 0,\n      warn_count: 0,\n      info_count: 0,\n      success_rate: 100,\n      avg_runtime_ms: null,\n      estimated_cost_usd: 0,\n      metadata: { note: 'no_logs_for_day', computed_at: nowIso }\n    }\n  }];\n}\n\n// claude-opus-4-7 pricing: $3/M input, $15/M output\nconst INPUT_PRICE = 0.000003;\nconst OUTPUT_PRICE = 0.000015;\n\nconst byAgent = new Map();\nfor (const log of logs) {\n  const name = (log && log.agent_name) ? String(log.agent_name) : 'unknown';\n  if (!byAgent.has(name)) byAgent.set(name, []);\n  byAgent.get(name).push(log);\n}\n\nconst rows = [];\nfor (const [agent_name, agentLogs] of byAgent) {\n  const total_logs = agentLogs.length;\n  let error_count = 0, warn_count = 0, info_count = 0;\n  let runtimeSum = 0, runtimeCount = 0;\n  let costSum = 0;\n  const raw_log_ids = [];\n\n  for (const log of agentLogs) {\n    const level = (log && typeof log.level === 'string') ? log.level.toLowerCase() : '';\n    if (level === 'error' || level === 'fatal') error_count++;\n    else if (level === 'warn') warn_count++;\n    else if (level === 'info') info_count++;\n\n    if (log && log.id !== undefined && log.id !== null) raw_log_ids.push(log.id);\n\n    const md = (log && log.metadata && typeof log.metadata === 'object') ? log.metadata : null;\n    if (md) {\n      if (typeof md.runtime_ms === 'number' && !Number.isNaN(md.runtime_ms)) {\n        runtimeSum += md.runtime_ms;\n        runtimeCount++;\n      }\n      const inTok = (typeof md.input_tokens === 'number' && !Number.isNaN(md.input_tokens)) ? md.input_tokens : 0;\n      const outTok = (typeof md.output_tokens === 'number' && !Number.isNaN(md.output_tokens)) ? md.output_tokens : 0;\n      costSum += inTok * INPUT_PRICE + outTok * OUTPUT_PRICE;\n    }\n  }\n\n  const success_rate = total_logs === 0 ? 100 : ((total_logs - error_count) / total_logs) * 100;\n  const avg_runtime_ms = runtimeCount > 0 ? runtimeSum / runtimeCount : null;\n\n  rows.push({\n    json: {\n      agent_name,\n      date: dateString,\n      total_logs,\n      error_count,\n      warn_count,\n      info_count,\n      success_rate,\n      avg_runtime_ms,\n      estimated_cost_usd: costSum,\n      metadata: { raw_log_ids, computed_at: nowIso }\n    }\n  });\n}\n\nreturn rows;\n"
      },
      "id": "b1a0d6e0-0004-4f00-a000-000000000004",
      "name": "Compute Analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://guggzyqceattncjwvgyc.supabase.co/rest/v1/agent_analytics",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]"
            },
            {
              "name": "Authorization",
              "value": "Bearer [HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "b1a0d6e0-0005-4f00-a000-000000000005",
      "name": "Upsert to agent_analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Compute Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Date Range": {
      "main": [
        [
          {
            "node": "Read agent_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read agent_logs": {
      "main": [
        [
          {
            "node": "Compute Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Analytics": {
      "main": [
        [
          {
            "node": "Upsert to agent_analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Australia/Sydney",
    "errorWorkflow": "agent_error_logger",
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "tags": [
    {
      "name": "analytics"
    },
    {
      "name": "phase:2"
    },
    {
      "name": "agent:10-analytics"
    }
  ]
}
