infra/n8n/data_aggregator_daily.json
{
  "name": "data_aggregator_daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 2 * * *"
            }
          ]
        }
      },
      "id": "e4b2d6e0-0001-4f00-a000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Compute Sydney-local snapshot date + d1/d7/d28 window ISO timestamps.\nconst tz = 'Australia/Sydney';\nconst now = new Date();\n\nfunction zonedYMD(date) {\n  const fmt = new Intl.DateTimeFormat('en-CA', { timeZone: tz, year: 'numeric', month: '2-digit', day: '2-digit' });\n  const parts = fmt.formatToParts(date);\n  const obj = {};\n  for (const p of parts) { if (p.type !== 'literal') obj[p.type] = p.value; }\n  return `${obj.year}-${obj.month}-${obj.day}`;\n}\n\nfunction sydneyMidnightIso(dateStr) {\n  const probe = new Date(`${dateStr}T12:00:00Z`);\n  const dtf = new Intl.DateTimeFormat('en-US', { timeZone: tz, timeZoneName: 'shortOffset' });\n  const parts = dtf.formatToParts(probe);\n  const tzName = (parts.find(p => p.type === 'timeZoneName') || {}).value || 'GMT+10';\n  const m = tzName.match(/GMT([+-])(\\d{1,2})(?::?(\\d{2}))?/);\n  const sign = m ? m[1] : '+';\n  const hh = m ? String(parseInt(m[2], 10)).padStart(2, '0') : '10';\n  const mm = m && m[3] ? m[3] : '00';\n  return `${dateStr}T00:00:00${sign}${hh}:${mm}`;\n}\n\nfunction subDaysStr(dateStr, n) {\n  const d = new Date(`${dateStr}T00:00:00Z`);\n  d.setUTCDate(d.getUTCDate() - n);\n  return `${d.getUTCFullYear()}-${String(d.getUTCMonth() + 1).padStart(2, '0')}-${String(d.getUTCDate()).padStart(2, '0')}`;\n}\n\nconst todayStr = zonedYMD(now);\nconst snapshotDate = subDaysStr(todayStr, 1);\n\nconst endIso = sydneyMidnightIso(todayStr);\nconst startD1Iso = sydneyMidnightIso(snapshotDate);\nconst startD7Iso = sydneyMidnightIso(subDaysStr(todayStr, 7));\nconst startD28Iso = sydneyMidnightIso(subDaysStr(todayStr, 28));\n\nreturn [{ json: { snapshotDate, endIso, startD1Iso, startD7Iso, startD28Iso, generatedAt: now.toISOString() } }];\n"
      },
      "id": "e4b2d6e0-0002-4f00-a000-000000000002",
      "name": "Compute Snapshot Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://guggzyqceattncjwvgyc.supabase.co/rest/v1/articles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,status,published_at,content_type,tier" },
            { "name": "published_at", "value": "=gte.{{ $('Compute Snapshot Date').first().json.startD28Iso }}" },
            { "name": "limit", "value": "5000" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "[HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Authorization", "value": "Bearer [HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "e4b2d6e0-0003-4f00-a000-000000000003",
      "name": "Read articles (d28)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://guggzyqceattncjwvgyc.supabase.co/rest/v1/editorial_articles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,tier,status,review_passed_at,fin_objection_at,published_at,created_at" },
            { "name": "limit", "value": "2000" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "[HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Authorization", "value": "Bearer [HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "e4b2d6e0-0004-4f00-a000-000000000004",
      "name": "Read editorial_articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 180],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://guggzyqceattncjwvgyc.supabase.co/rest/v1/professionals",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,type,status,profile_quality_gate,advisor_tier,onboarded_at,created_at" },
            { "name": "limit", "value": "5000" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "[HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Authorization", "value": "Bearer [HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "e4b2d6e0-0005-4f00-a000-000000000005",
      "name": "Read professionals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 180],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://guggzyqceattncjwvgyc.supabase.co/rest/v1/prospects",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,status,created_at,updated_at" },
            { "name": "limit", "value": "2000" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "[HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Authorization", "value": "Bearer [HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "e4b2d6e0-0006-4f00-a000-000000000006",
      "name": "Read prospects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 180],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://guggzyqceattncjwvgyc.supabase.co/rest/v1/agent_analytics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "agent_name,date,total_logs,error_count,success_rate,estimated_cost_usd" },
            { "name": "date", "value": "=gte.{{ $('Compute Snapshot Date').first().json.snapshotDate }}" },
            { "name": "date", "value": "=lte.{{ $('Compute Snapshot Date').first().json.snapshotDate }}" },
            { "name": "limit", "value": "100" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "[HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Authorization", "value": "Bearer [HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "e4b2d6e0-0007-4f00-a000-000000000007",
      "name": "Read agent_analytics (d1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 180],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Build the platform_snapshots.metrics JSONB per Agent #10 contract v1.\n// Supabase-only subset for dry-run — stripe/vercel/gsc emit null + source_missing.\nfunction rows(nodeName) {\n  const items = $(nodeName).all();\n  const out = [];\n  for (const it of items) {\n    const p = it && it.json;\n    if (!p) continue;\n    if (Array.isArray(p)) { for (const r of p) if (r && typeof r === 'object' && r.id) out.push(r); }\n    else if (Array.isArray(p.data)) { for (const r of p.data) if (r && typeof r === 'object' && r.id) out.push(r); }\n    else if (typeof p === 'object' && p.id) { out.push(p); }\n  }\n  return out;\n}\nfunction maybeRows(nodeName) {\n  const items = $(nodeName).all();\n  const out = [];\n  for (const it of items) {\n    const p = it && it.json;\n    if (!p) continue;\n    if (Array.isArray(p)) { for (const r of p) if (r && typeof r === 'object') out.push(r); }\n    else if (Array.isArray(p.data)) { for (const r of p.data) if (r && typeof r === 'object') out.push(r); }\n    else if (typeof p === 'object' && (p.agent_name || p.date)) { out.push(p); }\n  }\n  return out;\n}\n\nconst dates = $('Compute Snapshot Date').first().json;\nconst articles = rows('Read articles (d28)');\nconst editorial = rows('Read editorial_articles');\nconst pros = rows('Read professionals');\nconst prospects = rows('Read prospects');\nconst agentAnalytics = maybeRows('Read agent_analytics (d1)');\n\n// Time helpers\nconst d1Start = new Date(dates.startD1Iso).getTime();\nconst d1End = new Date(dates.endIso).getTime();\nconst d7Start = new Date(dates.startD7Iso).getTime();\n\n// content\nconst published = articles.filter(a => a.status === 'published');\nconst publishedInWindow = (ms) => published.filter(a => {\n  const t = a.published_at ? new Date(a.published_at).getTime() : 0;\n  return t >= ms && t < d1End;\n}).length;\nconst tierOf = (a) => a.tier || (a.content_type === 'editorial' ? 2 : 3);\nconst tier1_published_d7 = published.filter(a => tierOf(a) === 1 && a.published_at && new Date(a.published_at).getTime() >= d7Start).length;\nconst tier2_published_d7 = published.filter(a => tierOf(a) === 2 && a.published_at && new Date(a.published_at).getTime() >= d7Start).length;\nconst tier3_published_d7 = published.filter(a => tierOf(a) === 3 && a.published_at && new Date(a.published_at).getTime() >= d7Start).length;\nconst drafts_in_review = editorial.filter(e => e.status === 'draft' || e.status === 'review_passed').length;\nconst drafts_awaiting_fin_objection = editorial.filter(e => e.status === 'review_passed' && !e.fin_objection_at).length;\nconst cumulative_published = published.length;\n\n// sales\nconst prospects_added_d7 = prospects.filter(p => p.created_at && new Date(p.created_at).getTime() >= d7Start).length;\nconst prospects_active = prospects.filter(p => p.status && !['won','lost','unsubscribed'].includes(p.status)).length;\nconst advisor_trials_active = pros.filter(p => p.status === 'trial' || p.profile_quality_gate === 'pending').length;\nconst advisor_paid_active = pros.filter(p => p.status === 'active' && p.advisor_tier && p.advisor_tier !== 'bronze').length;\n\n// agents (d1 rollup)\nconst by_agent = {};\nlet total_runs_d1 = 0; let total_errors_d1 = 0; let cost_aud_mtd = 0;\nfor (const r of agentAnalytics) {\n  const name = r.agent_name || 'unknown';\n  const runs = typeof r.total_logs === 'number' ? r.total_logs : 0;\n  total_runs_d1 += runs;\n  total_errors_d1 += typeof r.error_count === 'number' ? r.error_count : 0;\n  // Estimated cost_usd -> AUD approx ×1.5\n  const costAud = (typeof r.estimated_cost_usd === 'number' ? r.estimated_cost_usd : 0) * 1.5;\n  cost_aud_mtd += costAud;\n  by_agent[name] = {\n    runs_d1: runs,\n    success_rate_d7_pct: typeof r.success_rate === 'number' ? r.success_rate : null,\n    cost_aud_mtd: costAud,\n  };\n}\nconst active_count = agentAnalytics.length;\nconst degraded_count = agentAnalytics.filter(r => typeof r.success_rate === 'number' && r.success_rate < 95 && r.success_rate >= 50).length;\nconst failed_count = agentAnalytics.filter(r => typeof r.success_rate === 'number' && r.success_rate < 50).length;\n\nconst source_missing = ['stripe', 'vercel_analytics', 'google_search_console'];\nconst source_ok = ['supabase', 'agent_runtime'];\n\nconst metrics = {\n  version: 1,\n  snapshot_date: dates.snapshotDate,\n  generated_at: dates.generatedAt,\n  generated_at_source_ages: {\n    supabase: 'live',\n    agent_runtime: 'live',\n  },\n  source_windows: { daily: '24h', rolling_7d: '7d', rolling_28d: '28d' },\n  revenue: null,\n  traffic: null,\n  content: {\n    tier1_published_d7,\n    tier2_published_d7,\n    tier3_published_d7,\n    drafts_in_review,\n    drafts_awaiting_fin_objection,\n    cumulative_published,\n  },\n  sales: {\n    prospects_added_d7,\n    prospects_active,\n    bd_pipeline_open_value_aud: null,\n    advisor_trials_active,\n    advisor_paid_active,\n    trial_to_paid_d7_pct: null,\n    api_customers_active: null,\n    api_customers_trial: null,\n  },\n  product_health: null,\n  agents: {\n    active_count,\n    degraded_count,\n    failed_count,\n    cost_aud_mtd,\n    cost_aud_projected_monthly: null,\n    by_agent,\n    total_runs_d1,\n    total_errors_d1,\n  },\n  ai_search: null,\n  migration: null,\n  data_quality: {\n    source_ok,\n    source_degraded: [],\n    source_missing,\n    notes: [\n      'revenue/traffic/product_health/ai_search/migration are null because stripe/vercel/google_search_console MCPs are not wired up in this n8n instance yet (Phase 3 dry-run).',\n    ],\n  },\n};\n\nreturn [{ json: { snapshot_date: dates.snapshotDate, source_agent: 'analytics', metrics } }];\n"
      },
      "id": "e4b2d6e0-0008-4f00-a000-000000000008",
      "name": "Build metrics payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://guggzyqceattncjwvgyc.supabase.co/rest/v1/platform_snapshots",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "[HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Authorization", "value": "Bearer [HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 15000
        }
      },
      "id": "e4b2d6e0-0009-4f00-a000-000000000009",
      "name": "Upsert platform_snapshots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://guggzyqceattncjwvgyc.supabase.co/rest/v1/agent_logs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([{ agent_name: 'analytics', level: 'info', message: 'platform_snapshots written for ' + $('Build metrics payload').first().json.snapshot_date, metadata: { daily_digest: true, snapshot_date: $('Build metrics payload').first().json.snapshot_date, source_ok: $('Build metrics payload').first().json.metrics.data_quality.source_ok, source_missing: $('Build metrics payload').first().json.metrics.data_quality.source_missing, run_at: new Date().toISOString() } }]) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "[HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Authorization", "value": "Bearer [HARDCODE_SUPABASE_SERVICE_ROLE_KEY_HERE]" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 15000
        }
      },
      "id": "e4b2d6e0-000a-4f00-a000-00000000000a",
      "name": "Write summary log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Compute Snapshot Date", "type": "main", "index": 0 }]] },
    "Compute Snapshot Date": { "main": [[{ "node": "Read articles (d28)", "type": "main", "index": 0 }]] },
    "Read articles (d28)": { "main": [[{ "node": "Read editorial_articles", "type": "main", "index": 0 }]] },
    "Read editorial_articles": { "main": [[{ "node": "Read professionals", "type": "main", "index": 0 }]] },
    "Read professionals": { "main": [[{ "node": "Read prospects", "type": "main", "index": 0 }]] },
    "Read prospects": { "main": [[{ "node": "Read agent_analytics (d1)", "type": "main", "index": 0 }]] },
    "Read agent_analytics (d1)": { "main": [[{ "node": "Build metrics payload", "type": "main", "index": 0 }]] },
    "Build metrics payload": { "main": [[{ "node": "Upsert platform_snapshots", "type": "main", "index": 0 }]] },
    "Upsert platform_snapshots": { "main": [[{ "node": "Write summary log", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "timezone": "Australia/Sydney",
    "errorWorkflow": "agent_error_logger",
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "tags": [
    { "name": "phase:3" },
    { "name": "agent:10-analytics" }
  ]
}
